<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TRAVELWITHMEE"
        tools:targetApi="31">
        <activity
            android:name=".Activity.MapLocationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DisplayDataActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddData.DesertAddDataActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddData.CityAddDataActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddData.ForestAddDataActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddData.LakeAddDataActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddData.CampAdddataActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddData.MountainAddDataActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddData.BeachDataAddActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddData.AddDataActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.MapActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DesignationdetailAcitivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DashActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HomeScreenActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Activity.CreateAccountActivity"
            android:exported="false" />


        <activity
            android:name=".Activity.SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity2"
            android:exported="true" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAqjhJsvYeFx3nBG8nkZjxkqrF7STBZbOo" />
    </application>

</manifest>